
section#chatroom {
    height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px);
    background-color: #EFFFEC;
}
div#login, div#messages{
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: calc(100% - 35px);
    padding: 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
select#target {
    width: 120px;
}
input#message {
    width: -moz-calc(100% - 290px);
    width: -webkit-calc(100% - 290px);
    width: calc(100% - 290px);
}
input#send, input#clear {
    width: 74px;
}
textarea#messageBoard{
    -moz-box-shadow:1px 1px 0 #E7E7E7;
    -moz-box-sizing:border-box;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    font-family:arial,sans-serif;
    font-size:13px;
    height: -moz-calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    height: calc(100% - 15px);
    margin:10px auto;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:10px;
    width:100%;
}
header{
    background-color:#4192C1;
    text-align: right;
    margin-top: 15px;
}
header h1{
    padding: 5px;
    padding-right: 15px;
    color: #FFFFFF;
    margin: 0px;
}
footer{
    padding: 6px;
    background-color:#4192C1;
    color: #FFFFFF;
    bottom: 0;
    position: absolute;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
a {
    color: #00B7FF;
}
